<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Wallet</ion-title>
  </ion-toolbar>
</ion-header>


<!-- <ion-card-content>
  Keep close to Nature's heart... and break clear away, once in awhile,
  and climb a mountain or spend a week in the woods. Wash your spirit clean.
</ion-card-content> -->

<ion-content>

  <main>

    <h2>0997057917</h2>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Solde CDF</ion-card-subtitle>
        <ion-card-title>CDF 4500,00</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Solde USD</ion-card-subtitle>
        <ion-card-title>$ 45,00</ion-card-title>
      </ion-card-header>
    </ion-card>

  </main>

</ion-content>
