

<ion-content>

    <div>
        <h5>Retirer argent</h5>
    </div>

    <main>

        <ion-item>
            <ion-label position="floating">Numéro Agent</ion-label>
            <ion-input [(ngModel)]="phone" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Devise</ion-label>
            <ion-select [(ngModel)]="currency" multiple="false" required>
                <ion-select-option value="CDF">CDF</ion-select-option>
                <ion-select-option value="USD">USD</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Montant</ion-label>
            <ion-input [(ngModel)]="amount" type="number" required></ion-input>
        </ion-item>

        <ion-button (click)="withdrawMonney()" expand="block"  shape="round" size="medium" color="medium">
            Retirer
        </ion-button>

    </main>

</ion-content>
