

<ion-content>

  <div class="top-site"></div>
  <div class="bottom-side"></div>

    <div class="title">
      <h3>Création compte</h3>
    </div>

    <main>


        <ion-item>
            <ion-label position="floating">Nom</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Téléphone</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Mot de passe</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>

        <ion-button (click)="registration()" expand="block"  shape="round"color="dark">
            Crée un compte
        </ion-button>

    </main>


</ion-content>
