<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Facture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <main>

    <ion-list>

      <ion-item *ngFor="let bill of bills"  detail>
        <ion-label>
          <h4>{{bill.shop_assistant.name}}</h4>
          <small>{{bill.bill_motif}}</small>
        </ion-label>
        <ion-note *ngIf="!bill.is_payed"  slot="end" mode="md" color="danger">Non payé</ion-note>
        <ion-note *ngIf="bill.is_payed" slot="end" mode="md" color="success">Déjà payé</ion-note>
      </ion-item>

      <ion-item detail>
        <ion-label>
          <h4>Maria</h4>
          <small>Pokémon Yellow</small>
        </ion-label>
        <ion-note slot="end" mode="md" color="danger">Non payé</ion-note>
      </ion-item>

    </ion-list>

  </main>

</ion-content>
