<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>Facture</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <main>

    <ion-list>

      <ion-item detail>
        <ion-label>
          <h4>Energie du Nord-Kivu</h4>
          <small>Facture d'électricité pour le mois</small>
        </ion-label>
        <ion-note slot="end" mode="md" color="danger">Non payé</ion-note>
      </ion-item>

      <ion-item detail>
        <ion-label>
          <h4>Maria</h4>
          <small>Pokémon Yellow</small>
        </ion-label>
        <ion-note slot="end" mode="md" color="success">Déjà payé</ion-note>
      </ion-item>

    </ion-list>

  </main>

</ion-content>
