<ion-tabs>

  <ion-tab-bar slot="top" color="tertiary">

    <ion-tab-button tab="send">

      <ion-button expand="block" size="small" shape="round" color="medium">
        <ion-buttons slot="start">
          <ion-button>
            Envoie
          </ion-button>
        </ion-buttons>
      </ion-button>

    </ion-tab-button>

    <ion-tab-button tab="withdraw">

      <ion-button expand="block" size="small" shape="round" color="light">
        <ion-buttons slot="start">
          <ion-button>
            Retrait
          </ion-button>
        </ion-buttons>
      </ion-button>

    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
