<ion-tabs>

  <ion-tab-bar slot="bottom" color="tertiary">

    <ion-tab-button tab="transfer">
      <ion-icon name="cash"></ion-icon>
      <ion-label>Transfer</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bill">
      <ion-icon name="receipt"></ion-icon>
      <ion-label>Facture</ion-label>
      <ion-badge color="primary">6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="activity">
      <ion-icon name="options"></ion-icon>
      <ion-label>Activité</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wallet">
      <ion-icon name="wallet"></ion-icon>
      <ion-label>Wallet</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="wallet">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Compte</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>

</ion-tabs>
